// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search_form {
  display: block;
}
.select140 {
  width: 140px;
}
.select65 {
  width: 65px;
}
.marginright5 {
  margin-right: 5px;
}
.asc {
  background: url(/assets/sort-arrows-up.png) no-repeat center right;
  display: inline-block;
}
.desc {
  background: url(/assets/sort-arrows-down.png) no-repeat center right;
  display: inline-block;
}